

body{
    width: 100%;
    background-color: #9ED0E6;

}


.dashtable{
    width: 25%;
    background-color: #fff0ff;
    border-radius: 0.25rem;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

header{
    background-color: #395C6B;
    color: #fff;
}
.colorpurple{
    background-color: #190933;
}
.inputcontainer{
    width: 65%;
}
